[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "~=3.8.4"
flake8-annotations = "~=2.4.1"
flake8-import-order = "~=0.18.1"

[packages]
flask = "~=1.1.2"

[requires]
python_version = "3.9"

[scripts]
lint = "python -m flake8"
